* {
    padding: 0px;
    margin: 0px;
}
:root {
    --gold: #f5c536;
    --darkgold: #dea62e;
    --beige: #f4e3bf;
    --font: "Garamond", "Times New Roman", serif;
    --darkblue: #04044e;
    --lessdarkblue: #07079f;
    --alpenglowblack: #201139;
    --alpenglowpurple: #8348e5;
    --alpenglowpink: #fc5997;
    --alpenglowgrad: linear-gradient(55deg, var(--alpenglowblack), var(--alpenglowpurple), var(--alpenglowpink))
}
body {
    height: 100%;
    background-color: var(--beige);
}
.header {
    background-color: var(--gold);
    display: grid;
    place-items: center;
    height: 12vmin;
    border-bottom: var(--darkgold);
    border-bottom-style: solid;
    border-bottom-width: 4px;
}
h1 {
    font-family: var(--font);
    font-size: 8vmin;
}
.cv {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 25vh;
    padding: 0;
}
.article {
    display: flex;
    /* grid-template-columns: 45% 45%;
    gap: 10% 10%; */
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}
.column {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.column > div {
    margin-bottom: 5vmin;
}
.paragraph {
    font-family: var(--font);
    background-color: var(--gold);
    width: 100%;
    border: var(--darkgold);
    border-style: solid;
    border-width: 4px;
}
.paragraph > p, ul, li {
    font-size: 3vmin;
    margin: 2vmin;
}
.paragraph > h3 {
    font-size: 4vmin;
    margin: 2vmin;
    text-align: center;
}
a {
    color: var(--darkblue);
    transition: all 300ms ease-in-out;
}
a:visited {
    color: var(--darkblue);
}
a.contacts:hover {
    color: var(--lessdarkblue);
    font-size: 3.1vmin;
}
.langswitch {
    font-family: var(--font);
    font-size: 2vmin;
    position: fixed;
    top: 1.5vmax;
    left: 1.5vmax;
    background-color: var(--gold);
    padding: 2px;
    border-color: var(--darkgold);
    border-style: solid;
    border-width: 2px;
}
a.langswitch:hover {
    color: var(--lessdarkblue);
    font-size: 2.1vmin;
}